
@model FoodApp.Models.FormSelection

@using (Html.BeginForm("SavePreferences", "Preferences", FormMethod.Post))
{
    <h2>Question 1:</h2>
    <p>Dietary Requirements?</p>
    <div>
        @Html.RadioButtonFor(model => model.DietaryRequirements, "Halal")<label>Halal</label>
    </div>
    <div>
        @Html.RadioButtonFor(model => model.DietaryRequirements, "Vegan")<label>Vegan</label>
    </div>
    <div>
        @Html.RadioButtonFor(model => model.DietaryRequirements, "Vegetarian")<label>Vegetarian</label>
    </div>
    <div>
        @Html.RadioButtonFor(model => model.DietaryRequirements, "None")<label>None</label>
    </div>

    <h2>Question 2:</h2>
    <p>Which days?</p>
    <div>
        @Html.RadioButtonFor(model => model.Days, "Wednesday")<label>Wednesday</label>
    </div>
    <div>
        @Html.RadioButtonFor(model => model.Days, "Thursday")<label>Thursday</label>
    </div>
    <div>
        @Html.RadioButtonFor(model => model.Days, "Both")<label>Both</label>
    </div>
    <div>
        @Html.RadioButtonFor(model => model.Days, "None")<label>None</label>
    </div>


    <h2>Question 3:</h2>
    <p>Which Food for wednesday?</p>
    foreach (var item in ViewData["wednesdayOptions"] as List<KeyValuePair<int,string>>)
    {
        <div>
            @Html.RadioButtonFor(model => model.wedFood, @item.Key)<label>@item.Value</label>
        </div>
    }
    
    <h2>Question 4:</h2>
    <p>Which Food for Thursday?</p>
    foreach (var item in ViewData["thursdayOptions"] as List<KeyValuePair<int,string>>)
    {
        <div>
            @Html.RadioButtonFor(model => model.thursFood, @item.Key)<label>@item.Value</label>
        </div>
    }

    <input type="submit" value="Submit" />
}